
@media only screen and (max-width: 767px) {
h1, h2, h3, h4, h5, h6 {
    font-size: 26px;
}
.logo img {
    width: 100%;
}
.mobile-logo img {
    width: 100%;
    max-width: 50%;
    margin-bottom: 18px;
}
.mobile-logo {
    padding-left: 10px;
}
header.header.home_header {
    padding: 10px 0;
}
a.bunow {
    display: inline-block !important;
    padding: 7px 24px !important;
    margin: 8px !important;
}
.img-fill img {
    display: none;
}
.wave {
   display: none;
}
.slick-slider {
    margin-top: 0px;
}
.Modern-Slider:after {
    top: 0;
    height: auto;
}
.text-baneer {
    position: relative;
    left: 0;
    top: 0;
    max-width: 100%;
}
.Modern-Slider .item .img-fill .info {
    text-align: center;
    padding: 38px 0;
}
.Modern-Slider .item h5 {
    font-size: 40px;
}
.Modern-Slider .item h3 {
    font-size: 30px;
}
.Modern-Slider .PrevArrow {
    top: 50%;
    left: 4px;
    width: 36px;
    height: 36px;
    font-size: 20px;
}
.Modern-Slider .NextArrow {
    top: 50%;
    right: 4px;
    width: 36px;
    height: 36px;
    font-size: 20px;
}
.Modern-Slider .item .img-fill {
    height: auto;
}
section.kids-play {
    padding: 40px 0;
}
.top-wap {
    padding: 0;
    text-align: center;
}
.top-wap span {
    font-size: 36px;
}
.learning-number {
    margin: 0 auto;
}
.main-box {
    text-align: center;
}
.learning-number-box-wrapper {
    margin-right: 0;
}
section.popular-wap {
    padding: 40px 0;
}
.Common_outer button.owl-prev {
    left: -18px;
}
.Common_outer button.owl-next {
    position: absolute;
    top: 43%;
    right: -18px;
}
section.oue-carevalue {
    padding: 40px 0;
}
.our h2 {
    font-size: 26px;
}
.our {
    text-align: center;
    margin-bottom: 60px;
}
.Active {
    width: 100%;
    padding-top: 8px;
}
.learning-main {
    display: block;
    margin-bottom: 30px;
    text-align: center;
}
.testimonials-content {
    max-width: 100%;
}
.testimonials-content p {
    font-size: 18px;
    line-height: 35px;
    margin-bottom: 8px;
}
section.testimonials {
    padding-bottom: 50px;
}
section.Recent-post {
    padding: 50px 0;
}
.post-innermain {
    margin-bottom: 40px;
}
.post-thumbnail {
    height: auto;
}
.post-innermain:after {
    min-height: auto;
}
.post-content {
    bottom: 16px;
    padding: 0 20px;
}
.newsletter-content h2 {
    font-size: 25px;
    text-align: center;
    margin-bottom: 10px;
}
button.site-button.buttonSMT {
    padding: 21px 16px;
    font-size: 14px;
}
section.newsletter {
    background-position: center;
    padding: 38px 0 45px;
}
footer.footer-wap {
    padding: 65px 0;
}
.footer-clearfix.pl-5 {
    padding-left: 0 !important;
}
.clearfix {
    padding-bottom: 28px;
}
.mainfooter.mt-4 {
    margin-bottom: 24px;
}
.footer-bag {
    height: 200px;
}
section.about-us {
    padding: 60px 0;
}
.banner-contnet h2 {
    font-size: 40px;
}
.top-wap.top-wap2.text-center {
    padding-top: 30px;
}
.col-md-6.rowwap2 {
    order: 1;
}
section.contact-content.sec-padding {
    padding: 40px 0;
}
.contact-content h2 {
    margin-bottom: 45px;
    font-size: 30px;
}
.address2 {
    padding-top: 32px;
}
.contact-content .contact-info li .icon-box .inner {
    font-size: 22px;
    margin-right: 12px;
}
.post-content-wrap h3 {
    font-size: 26px;
}
.SideSearch {
    padding: 30px 16px;
}
.quats {
    padding: 20px 16px;
}
.quats p {
    font-size: 16px;
}
section.order-tacker {
    padding: 22px 0 0;
    background-position: unset;
    background-size: contain;
    background-repeat: no-repeat;
}
.trackers img {
    max-width: 165px;
}
.payment-section .body {
    padding: 22px;
}
.order-imag {
    height: 150px;
}
.naccs .menu {
    text-align: inherit;
    display: block;
}
section.faq-wap {
    height: 100%;
}
ul.social_list li img {
    max-width: 50%;
}
a.phone-link {
    font-size: 22px;
    padding: 10px 0 28px;
}
section.single-product {
    padding: 40px 0;
}
.prductheading2 {
    font-size: 24px;
}
.prduct-title {
    font-size: 24px;
    line-height: 28px;
}
.right-contentwap {
    margin-top: 26px;
}
ul.clild li:after {
    left: 0;
}
ul.clild li {
    font-size: 12px;
    margin-bottom: 7px;
    padding-left: 18px;
    position: relative;
}
ul.payment-getway li img {
    width: 66px;
}
.contct-wap {
    padding: 26px 12px 34px;
}
p.Call {
    top: 30px;
}
select#exampleFormControlSelect1 {
    margin-bottom: 0px;
}
.custom-btn {
    padding: 0px 18px;
    font-size: 12px;
}
.contct-wap.Billing-detail {
    margin-bottom: 35px;
}
section.Checkout-section {
    padding: 56px 0;
}
.bottom-wap.table-responsive2 td.actions2 {
    display: block !important;
}
.bottom-wap.table-responsive2 table.shop_table td {
    padding: 20px 0;
    border: 0;
    display: block;
}
.cart-product button.button {
    margin-top: 22px;
}


}










