{% extends 'base.html' %}
{% load static %}
<body>
   {% block content %}
   
      <section class="about-us">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="banner-contnet">
                    <h2>About us</h2> 
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!------------- //about-banner// -------------->
      <!------------- //about-banner// -------------->
      <section class="kids-play aboutwap">
         <div class="container">
            <div class="row rowwap1">
               <div class="col-md-6">
                  <div class="kids-imag kids-imag2">
                     <img src="{% static 'assets/images/childs.png' %}" alt="">
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="top-wap top-wap2 text-center">
                     <p>We at Brainy Ladder are currently creating a transformation in home learning education for early childhood learning. It is a breakthrough learning approach which is targeted to up-skill children with a slight blend of both traditional and modern teaching methods.</p>
                     <p>Early learning education kits by Brainy Ladder take children into a new learning space which combines both real-life experiences with tailored activities to learn basic concepts. The materials and models used and/or put together for the activities are specially designed for enhancing early learning through visual videos and learning by doing approach.</p>
                     <p>Kits by Brainy Ladder are designed by pedagogy experts, child development professionals and early learning experts from some of the most top research centers known for foundation of early learning.</p>
                     <p>Brainy Ladder is a new age startup working towards the promotion of early learning for kids by doing and exploring. We believe that children are naturally curious and love to play. We combine the two with various activities which offer a do-it-yourself approach. Children can perform the activities, with/under the guidance of their parents; which will offer a sense of accomplishment and they will also learn in that very process.</p>
                  </div>
               </div>
            </div>
  <!--           <div class="row mt-5">
               <div class="col-md-6 rowwap2">
                  <div class="top-wap top-wap2 text-center">
                     <span>What we do</span>
                     <h2>Child development <br>& education</h2>
                     <p>With years of dedicated research, Kidzee has set unparalleled standards in the CDE (Child Development & Education) space. Having acknowledged the uniqueness of each child and their infinite potential. Kidzee has is its proprietary pedagogy</p>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="kids-imag kids-imag2">
                     <img src="assets/images/about2.jpg" alt="">
                  </div>
               </div>
              
            </div> -->
         </div>
      </section>

      {% endblock %}
