{% extends 'base.html' %}
{% load static %}
<body>
   {% block content %}
      
      <!------------- //header// -------------->
      <!------------- //header// -------------->
      <div class="wave wave1"></div>
            <div class="wave wave2"></div>
            <div class="wave wave3"></div>
            <div class="wave wave4"></div>
      <div class="Modern-Slider">
        <!-- Item -->
        <div class="item">
          <div class="img-fill">
            <img src="{% static 'assets/images/rev_sliderkin.png' %}" alt="">
            <div class="info">
              <div class="text-baneer">
                <h3>Effective Learning, Fun & Entertainment</h3>
                <!-- <h5>Creative <br>kid's world</h5> -->
                <div class="baneer-buton mt-5">
                  <a href="#" class="buton2" data-toggle="modal" data-target="#exampleModalCenter">Find Out More</a> 
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- // Item -->
        <!-- Item -->
        <div class="item">
          <div class="img-fill">
            <img src="{% static 'assets/images/rev_sliderkin2.png' %}" alt="">
            <div class="info">
              <div class="text-baneer">
                <h3>Designed for the foundational years of early education </h3>
                 <!-- <h5>Creative <br>kid's world</h5> -->
                 <div class="baneer-buton mt-5">
                  <a href="#" class="buton2" data-toggle="modal" data-target="#exampleModalCenter">Find Out More</a> 
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- // Item -->
        <!-- Item -->
        <div class="item">
          <div class="img-fill">
            <img src="{% static 'assets/images/rev_slider1_3.png' %}" alt="">
            <div class="info">
              <div class="text-baneer">
                <h3>Activity Kits designed to support children to explore through different concepts in a fun way</h3>
                 <!-- <h5>Creative <br>kid's world</h5> -->
                 <div class="baneer-buton mt-5">
                  <a href="#" class="buton2" data-toggle="modal" data-target="#exampleModalCenter">Find Out More</a> 
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- // Item -->
        <!-- Item -->
        <div class="item">
          <div class="img-fill">
            <img src="{% static 'assets/images/rev_sliderkin.png' %}" alt="">
            <div class="info">
              <div class="text-baneer">
                <h3>A brainy Ladder activity kit supports children to learn concepts through a variety of engaging activities. </h3>
                 <!-- <h5>Creative <br>kid's world</h5> -->
                 <div class="baneer-buton mt-5">
                  <a href="#" class="buton2" data-toggle="modal" data-target="#exampleModalCenter">Find Out More</a> 
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- // Item -->
        <!-- Item -->
        <div class="item">
          <div class="img-fill">
            <img src="{% static 'assets/images/rev_sliderkin2.png' %}" alt="">
            <div class="info">
              <div class="text-baneer">
                <h3>Brainy Ladder activity kit for early learning assist you in creating a special bond with your child without hampering their early education</h3>
                 <!-- <h5>Creative <br>kid's world</h5> -->
                 <div class="baneer-buton mt-5">
                  <a href="#" class="buton2" data-toggle="modal" data-target="#exampleModalCenter">Find Out More</a> 
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- // Item -->
         <!-- Item -->
        <div class="item">
          <div class="img-fill">
            <img src="{% static 'assets/images/rev_sliderkin.png' %}" alt="">
            <div class="info">
              <div class="text-baneer">
                <h3>It is created to help you to help your children continue to develop their skills for thinking, speaking and learning</h3>
                 <!-- <h5>Creative <br>kid's world</h5> -->
                 <div class="baneer-buton mt-5">
                  <a href="#" class="buton2" data-toggle="modal" data-target="#exampleModalCenter">Find Out More</a> 
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- // Item -->
      </div>

      <!------------- //course// -------------->
      <!------------- //course// -------------->
      <section class="kids-play">
         <div class="container">
            <div class="row">
               <div class="col-md-5">
                  <div class="kids-imag">
                     <img src="{% static 'assets/images/h1-banner-01.png' %}" alt="">
                  </div>
               </div>
               <div class="col-md-7">
                  <div class="top-wap">
                     <span>Who we are</span>
                     <h2>The best playschool <br>for your kid</h2>
                     <div class="row mt-5">
                        <div class="col-md-6">
                           <div class="main-box">
                              <div class="learning-number-box-wrapper">
                                 <div class="learning-number">
                                 <i class="far fa-address-card"></i>
                                 </div>
                              </div>
                              <div class="social-content">
                                 <h6>transformation in learning </h6>
                                 <p>Currently creating a transformation in learning & education for early childhood learning. Promoting immense love for learning through a fun and stress free environment. </p>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="main-box">
                              <div class="learning-number-box-wrapper">
                                 <div class="learning-number learn-num4">
                                    <i class="fas fa-pencil-ruler"></i>
                                 </div>
                               </div>
                               <div class="social-content">
                                 <h6>Child-centric approach </h6>
                                 <p>Child-centric approach that fosters independent thinking, conceptual understanding & creative learning</p>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="main-box">
                              <div class="learning-number-box-wrapper">
                                 <div class="learning-number learn-num3">
                                    <i class="fas fa-book"></i>
                                 </div>
                               </div>
                               <div class="social-content">
                                 <h6>Precisely designed & tailored</h6>
                                 <p>Precisely designed & tailored for the holistic development of young children for all age group from 0 – 6 years.</p>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="main-box">
                              <div class="learning-number-box-wrapper">
                                 <div class="learning-number learn-num2">
                                    <i class="fab fa-discourse"></i>
                                 </div>
                               </div>
                               <div class="social-content">
                                 <h6>300+ curated activities</h6>
                                 <p>Creating a learning space which combines both real – life & learning experiences with 300+ curated activities</p>
                              </div>
                           </div>
                        </div>
                        
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>

      <!------------- //course// -------------->
      <!------------- //course// -------------->

      <!------------- //Popular// -------------->
      <!------------- //Popular// -------------->
      <section class="popular-wap">
         <div class="container">
            <div class="topbar text-center">
               <span>Courses</span>
               <h2>Our Products</h2>
            </div>
            <div class="row mt-5">
               <div class="col-md-12">
                  <div class="Common_outer">
                     <div class="owl-carousel owl-theme" id="Bestseller-slider">
                        <div class="item">
                           <div class="row">
                              <div class="col-md-12">
                                 <div class="Popular-classmain">
                                    <div class="Popular-classimag">
                                       <img src="{% static 'assets/images/program-3.jpg' %}" alt="">
                                    </div>
                                    <div class="Popular-join">
                                       <div class="Popular-content">
                                          <h6>Playgroup</h6>
                                          <!-- <p>The perfect class for your child with the best staff and best teachers.</p> -->
                                          <b>Age: <strong>1.5-2.5 year</strong></b>
                                       </div>
                                       <a class="buttonwap" href="{% url 'playgroup' %}">Buy Now</a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>

                        <div class="item">
                           <div class="row">
                              <div class="col-md-12">
                                 <div class="Popular-classmain">
                                    <div class="Popular-classimag">
                                       <img src="{% static 'assets/images/program-3.jpg' %}" alt="">
                                    </div>
                                    <div class="Popular-join">
                                       <div class="Popular-content">
                                          <h6>Ṇursery</h6>
                                          <!-- <p>The perfect class for your child with the best staff and best teachers.</p> -->
                                          <b>Age: <strong>2.5-3.5 year</strong></b>
                                       </div>
                                       <a class="buttonwap" href="{% url 'nursery' %}"> Buy Now</a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>


                        <div class="item">
                           <div class="row">
                              <div class="col-md-12">
                                 <div class="Popular-classmain">
                                    <div class="Popular-classimag">
                                       <img src="{% static 'assets/images/program-3.jpg' %}" alt="">
                                    </div>
                                    <div class="Popular-join">
                                       <div class="Popular-content">
                                          <h6>KG – I</h6>
                                          <!-- <p>The perfect class for your child with the best staff and best teachers.</p> -->
                                          <b>Age: <strong>3.5-4.5 year</strong></b>
                                       </div>
                                       <a class="buttonwap" href="{% url 'KG1' %}"> Buy Now</a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>

                        <div class="item">
                           <div class="row">
                              <div class="col-md-12">
                                 <div class="Popular-classmain">
                                    <div class="Popular-classimag">
                                       <img src="{% static 'assets/images/program-3.jpg' %}" alt="">
                                    </div>
                                    <div class="Popular-join">
                                       <div class="Popular-content">
                                          <h6>KG – II</h6>
                                          <!-- <p>The perfect class for your child with the best staff and best teachers.</p> -->
                                          <b>Age: <strong>4.5-6 year</strong></b>
                                       </div>
                                       <a class="buttonwap" href="{% url 'KG2' %}"> Buy Now</a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>

                        <div class="item">
                           <div class="row">
                              <div class="col-md-12">
                                 <div class="Popular-classmain">
                                    <div class="Popular-classimag">
                                       <img src="{% static 'assets/images/program-3.jpg' %}" alt="">
                                    </div>
                                    <div class="Popular-join">
                                       <div class="Popular-content">
                                          <h6>Phonics</h6>
                                          <!-- <p>The perfect class for your child with the best staff and best teachers.</p> -->
                                          <b>Age: <strong>1.5-2.5 year</strong></b>
                                       </div>
                                       <a class="buttonwap" href="{% url 'phonics' %}">Buy Now</a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>

                     </div>
                  </div>
               </div>
            </div>
         </div> 
      </section>
      <!------------- //Popular// -------------->
      <!------------- //Popular// -------------->

      <!------------- //Our core value// -------------->
      <!------------- //Our core value// -------------->
      <section class="oue-carevalue">
         <div class="container">
            <div class="row">
               <div class="col-md-4">
                  <div class="our">
                     <span>Our core value</span>
                     <h2>The perfect platform to empower your child with school-ready skills</h2>
                  </div>
               </div>
               <div class="col-md-8">
                  <div class="main-boxwap">
                     <div class="row">
                        <div class="col-md-6">
                           <div class="learning-main">
                            <div class="learning-number-box-wrapper">
                              <div class="learning-number">
                               <h6>01</h6>
                              </div>
                            </div>
                              <div class="Active">
                                 <h6>Exploratory & Activity – Based Learning</h6>
                                 <p>40+ activities per month, based on developmental milestones that kindle curiosity in your child</p>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="learning-main">
                            <div class="learning-number-box-wrapper">
                              <div class="learning-number learn-num2">
                                  <h6>02</h6>
                              </div>
                            </div>
                              <div class="Active">
                                 <h6>Comprehensive Child – Centric Approach</h6>
                                 <p>An environment that encourages your child’s development making them independent problem - solvers.</p>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="learning-main">
                            <div class="learning-number-box-wrapper">
                              <div class="learning-number learn-num3">
                                  <h6>03</h6>
                              </div>
                            </div>
                              <div class="Active">
                                 <h6>Plethora of Next – Gen Teaching Tools</h6>
                                 <p>tools that make learning a 2 way process where every child is encouraged to try, retry & succeed.</p>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="learning-main">
                            <div class="learning-number-box-wrapper">
                              <div class="learning-number learn-num4">
                                  <h6>04</h6>
                              </div>
                            </div>
                              <div class="Active">
                                 <h6>Multi – dimensional Learning Methodologie</h6>
                                 <p>a personalized system that caters to every learning style – visual, auditory & kinesthetic</p>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="learning-main">
                            <div class="learning-number-box-wrapper">
                              <div class="learning-number learn-num5">
                                  <h6>05</h6>
                              </div>
                            </div>
                              <div class="Active">
                                 <h6>Dynamic & Interactive Platform</h6>
                                 <p>a transparent model where parents are equally involved in shaping there’s child’s holistic growth & progress</p>
                              </div>
                           </div>
                        </div>
                       <!--  <div class="col-md-6">
                           <div class="learning-main">
                            <div class="learning-number-box-wrapper">
                              <div class="learning-number learn-num6">
                                  <h6>06</h6>
                              </div>
                            </div>
                              <div class="Active">
                                 <h6>Funny and happy</h6>
                                 <p>Our preschool program has four dedicated classes.</p>
                              </div>
                           </div>
                        </div> -->
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!------------- //Our core value// -------------->
      <!------------- //Our core value// -------------->

      <!------------- //testimonials// -------------->
      <!------------- //testimonials// -------------->
      <section class="testimonials">
         <div class="container">
            <div class="topbar text-center">
               <span>Testimonials</span>
               <h2>What parents say</h2>
            </div>
            <div class="Common_outer2" style="background-image: url({% static 'assets/images/h1-bg-testimanial.png' %});">
               <div class="owl-carousel owl-theme" id="Bestseller-slider2">
                  <div class="item">
                     <div class="row">
                        <div class="col-md-12">
                           <div class="testimonials-content">
                              <p> My daughter learning it with interest. The research work by Team is excellent. Brainy Ladder helped her create a nice environment for innovation and creativity.</p>
                              <h6>Kavita modi</h6>
                              <span>mother of 2 year old</span>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="item">
                     <div class="row">
                        <div class="col-md-12">
                           <div class="testimonials-content">
                              <p>It is an amazing program...My kid is interested to do all the activities and the learning is fun too...</p>
                              <h6>CSushma gupta </h6>
                              <span>mother of 5 year old</span>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="item">
                     <div class="row">
                        <div class="col-md-12">
                           <div class="testimonials-content">
                              <p>Brainy Ladder has got amazing worksheets/Activities, my son really loves the activities and they keep him engaged for hours. BL activity kit (with STEM learning experience) is a great way to educate the kids with hands-on experience. As a parent, i would highly recommend Brainy Ladder Learning kit.</p>
                              <h6>Saloni Bhargava </h6>
                              <span>Mother of 3 year old</span>
                           </div>
                        </div>
                     </div>
                  </div>

               </div>
            </div>
         </div>
      </section>
      <!------------- //testimonials// -------------->
      <!------------- //testimonials// -------------->
      <section class="faq-wap" style="background-image: url({% static 'assets/images/faq.jpg' %} );">
         <div class="container">
            <div class="topbar text-center">
               <span>Faq's</span>
               <h2>frequently asked questions</h2>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <div class="Brainy">
                      <div class="accordion">
                        <dl>
                          <dt>
                            <a href="#accordion1" aria-expanded="false" aria-controls="accordion1" class="accordion-title accordionTitle js-accordionTrigger">1.  What is Brainy Ladder?</a>
                          </dt>
                          <dd class="accordion-content accordionItem is-collapsed" id="accordion1" aria-hidden="true">
                            <p>Brainy Ladder is a new age startup working towards the promotion of early learning for kids by doing and exploring. We believe that children are naturally curious and love to play. We combine the two with various activities which offer a do-it-yourself approach. Children can perform the activities, with/under the guidance of their parents; which will offer a sense of accomplishment and they will also learn in that very process. All Brainy Ladder products come with videos and instructions which are easy for the parents to follow while they explore the product with their child.</p>
                          </dd>
                          <dt>
                            <a href="#accordion2" aria-expanded="false" aria-controls="accordion2" class="accordion-title accordionTitle js-accordionTrigger">
                              2. What do I get inside a Brainy Ladder Kit?</a>
                          </dt>
                          <dd class="accordion-content accordionItem is-collapsed" id="accordion2" aria-hidden="true">
                            <p>Each kit for different age group comes with 300+ activities to understand the connection between various concepts. These kits come with daily plans, revision based materials and all items required for hands-on learning. </p>
                            <p>The kit will help your child to construct various models for understanding the fundamental principles and applications of various concepts. These kits will be delivered to your doorstep.</p>
                          </dd>
                          <dt>
                            <a href="#accordion3" aria-expanded="false" aria-controls="accordion3" class="accordion-title accordionTitle js-accordionTrigger">
                             3.  Are Brainy Ladder products safe for my kids?
                            </a>
                          </dt>
                          <dd class="accordion-content accordionItem is-collapsed" id="accordion3" aria-hidden="true">
                            <p>LBrainy Ladder products are made for very young children, and their safety is our top most priority. All our products in the kit are completely safe for use by children.</p>
                          </dd>
                          <dt>
                            <a href="#accordion4" aria-expanded="false" aria-controls="accordion4" class="accordion-title accordionTitle js-accordionTrigger">
                              4. Can my child do these activities independently?
                            </a>
                          </dt>
                          <dd class="accordion-content accordionItem is-collapsed" id="accordion4" aria-hidden="true">
                            <p>The usage of kits will require the involvement and/or supervision of an adult for children below 5 years. These kits are curated for spending quality time between parent and a child also. </p>
                          </dd>
                          <dt>
                            <a href="#accordion5" aria-expanded="false" aria-controls="accordion5" class="accordion-title accordionTitle js-accordionTrigger">
                              5. Who designs the materials?
                            </a>
                          </dt>
                          <dd class="accordion-content accordionItem is-collapsed" id="accordion5" aria-hidden="true">
                            <p>Kits by Brainy Ladder are designed by pedagogy experts, child development professionals and early learning experts from some of the most top research centers known for foundation of early learning.  You can be assured that all the products and materials received by you are tested, of highest quality, child-friendly and are curated age specifically. </p>
                          </dd>
                           <dt>
                            <a href="#accordion6" aria-expanded="false" aria-controls="accordion6" class="accordion-title accordionTitle js-accordionTrigger">
                             6.  What age groups is Brainy Ladder kit available for?
                            </a>
                          </dt>
                          <dd class="accordion-content accordionItem is-collapsed" id="accordion6" aria-hidden="true">
                            <p>At Brainy Ladder we have designed kits age specifically. The kits are available for 1.5-2.5 years old, 2.5-3.5 years old, 3.5-4.5 year old & 4.5-5.5 years old. We also have a kit for Playgroup 3years to 8years Children's called Phonics. </p>
                          </dd>
                        </dl>
                      </div>
                     
                  </div>
                   
                </div>
            </div>
            
         </div>
      </section>
      <!------------- //Recent post// -------------->
      <!------------- //Recent post// -------------->
      <section class="Recent-post">
         <div class="container">
            <div class="topbar text-center">
               <span>From our blog</span>
               <h2>Recent post</h2>
            </div>
            <div class="row mt-5">
               <div class="col-md-4">
                  <div class="post-innermain">
                     <div class="post-thumbnail">
                        <img src="{% static 'assets/images/blog-1.jpg' %}" alt="">
                     </div>
                     <div class="post-content">
                        <a href="#" class="blogwsap">Blog</a>
                        <h3 class="entry-title">
                           <a href="#">8 ways to keep your heart forever young</a>
                        </h3>
                        <div class="entry-meta"> 
                           <span class="posted-on">
                              <a href="#">
                              <time class="published">December 13, 2019</time></a>
                           </span> 
                           <span class="posted-author">
                              <span>by </span><a href="#">admin</a>
                           </span>
                        </div>
                     </div>
                  </div> 
               </div>
               <div class="col-md-4">
                  <div class="post-innermain">
                     <div class="post-thumbnail">
                        <img src="{% static 'assets/images/blog-2.jpg' %}" alt="">
                     </div>
                     <div class="post-content">
                        <a href="#" class="blogwsap">Blog</a>
                        <h3 class="entry-title">
                           <a href="#">How Drugs Alter The Brain</a>
                        </h3>
                        <div class="entry-meta"> 
                           <span class="posted-on">
                              <a href="#">
                              <time class="published">December 13, 2019</time></a>
                           </span> 
                           <span class="posted-author">
                              <span>by </span><a href="#">admin</a>
                           </span>
                        </div>
                     </div>
                  </div> 
               </div>
               <div class="col-md-4">
                  <div class="post-innermain">
                     <div class="post-thumbnail">
                        <img src="{% static 'assets/images/blog-3.jpg' %}" alt="">
                     </div>
                     <div class="post-content">
                        <a href="#" class="blogwsap">Blog</a>
                        <h3 class="entry-title">
                           <a href="#">Red-Green Colour Blindness</a>
                        </h3>
                        <div class="entry-meta"> 
                           <span class="posted-on">
                              <a href="#">
                              <time class="published">December 13, 2019</time></a>
                           </span> 
                           <span class="posted-author">
                              <span>by </span><a href="#">admin</a>
                           </span>
                        </div>
                     </div>
                  </div> 
               </div>
            </div>
         </div>
      </section>
      <!------------- //Recent post// -------------->
      <!------------- //Recent post// -------------->

      {% endblock %}