{% extends 'base.html' %}
{% load static %}
<body>
   {% block content %}
      <section class="about-us">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="banner-contnet">
                    <h2>KG – I Learning Kit</h2> 
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!------------- //about-banner// -------------->
      <!------------- //about-banner// -------------->
      <section class="single-product">
         <div class="container">
            <div class="row">
               <div class="col-md-6">
                  <div class="prduct-imag">
                     <img src="{% static 'assets/images/about2.jpg' %}" alt="">
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="right-contentwap">
                     <h6>what's in the kit</h6>
                     <span>"A single box....</span>
                     <p>When children are in their formative years, the best thing you can do for them is to get them hooked to learning by the means of playing. The world is changing and so are the ways of child learning</p>
                     <p>The KG – I Brainy Ladder activity kit provides a holistic learning experience for your children. This kit is suitable for ages 3.5 – 4.5 years; this year long activity kit is an integrated learning program which is designed to develop the needed skills in your child. Skills such as linguistic skills, logical thinking, sensory and motor skills, cognitive skills and social skills. Get them stuck to our kits to have fun with incredible Math, English, science, art & crafts activities for KG – I children.</p>
                     <p>This activity kit dedicated to the category of playgroup children helps in building:</p>
                     <ul class="clild">
                         <li>Part 1 – thematic learning on my family, fruits & vegetables, my body; introduction and writing of letters through tracing, counting via fun activities</li>
                         <li>Part 2 – exploring new topics like animals, birds, plants, trees; identification of objects through names and sound</li>
                         <li>Part 3 – learning about transport, community helpers, seasons, public spaces; identification, reading & writing</li>
                         <li>Part 4 – teaching them to express their feelings & emotions, me & my family including the immediate relationships,</li>
                     </ul>
                     <a href="{% url 'cart' %}" class="bunow">Buy Now for 4799/-</a>
                  </div>
               </div>
               <div class="col-md-12">
                  <div class="kit">
                     <h6>A single box containing a year’s worth of learning for your children containing 300+ high quality & engaging study materials</h6>
                     <ul>
                        <li><i class="fas fa-hand-point-right"></i>Worksheets – 200+ worksheets have been curated in the most engaging manner keeping the child’s average attention span in mind</li>
                        <li><i class="fas fa-hand-point-right"></i>Flashcards – 30+ full sized flashcards, which are the most versatile items in our kits and are used to learn basic concepts in many ways</li>
                        <li><i class="fas fa-hand-point-right"></i>Activity Sheets – 200+ Activity sheets are designed in a manner to ensure your child’s engagement towards learning. Activities include puzzles, craft integrated & DIY activities</li>
                        <li><i class="fas fa-hand-point-right"></i>Posters – Attractive large print posters for activities which help in learning new concepts in an interesting manner.</li>
                        <li><i class="fas fa-hand-point-right"></i>………and many more exciting activitie.</li>
                     </ul>
                     
                  </div>
                  
               </div>
            </div>
         </div>
      </section>
      

      {% endblock %}