{% extends 'base.html' %}
{% load static %}
<body>
   {% block content %}

      <!------------- //about-banner// -------------->
      <!------------- //about-banner// -------------->
      <section class="about-us">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="banner-contnet">
                    <h2>8 ways to keep your heart forever young</h2> 
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!------------- //about-banner// -------------->
      <!------------- //about-banner// -------------->
      <section class="blog">
         <div class="blog-wap">
            <div class="container">
               <div class="row mt-5">
                  <div class="col-md-12">
                     <div class="row">
                        <div class="col-md-8 col-sm-8 col-12">
                           <div class="blog-main">
                              <div class="post-thumbnail2">
                                 <a href="singleblog.html"><img src="assets/images/singleblog.jpg"></a>
                              </div>
                              <div class="post-content-wrap">
                                 <div class="entry-meta"> 
                                    <span class="posted-on">
                                       <a href="singleblog.html">
                                       <time class="published">December 13, 2019</time></a>
                                    </span> 
                                    <span class="posted-author">
                                       <span>by </span><a href="singleblog.html">admin</a>
                                    </span>
                                 </div>
                                 <p>With 10+ apps and plugins, you’ll be able to review your upcoming tasks – and jot down new ones – no matter where you happen to be. Everything stays in perfect sync across… orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
                                 <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi</p>
                              </div>
                              <div class="quats">
                                 <i class="fas fa-quote-left"></i>
                                 <p>Platform companies are product organizations that think in terms of roadmaps and features and sprints.</p>
                              </div>
                           </div>
                           
                        
                        </div>
                        <div class="col-md-4 col-sm-4 col-12">
                           <div class="MainSideBar">
                             <div class="SideSearch">
                               <form role="search" method="get" action="">
                                 <div class="blog-serchBox">
                                   <div class="blog-search-grid">
                                     <input type="term" name="term" id="term" placeholder="Search">
                                   </div>
                                 </div>
                               </form>
                             </div>
                              <div class="SideSearch">
                                 <div class="widget-top">
                                    <div class="rightside-title">
                                      <h6>Latest Posts</h6>
                                      <span class="divider-line divider-short"></span>
                                    </div>
                                 </div>
                                 <div class="post-col">
                                    <div class="post-col-img">
                                      <a href="singleblog.html">
                                        <img src="{% static 'assets/images/blog-1.jpg' %}" class="img-responsive" alt="Image">
                                      </a>
                                    </div>
                                    <div class="post-col-content">
                                      <a href="/blog/solana/how-to-create-token-swap-program-using-solana">
                                        <p class="latest-title">8 ways to keep your heart forever young</p>
                                      </a>
                                      <p class="latest-date">
                                        <span>
                                          <i class="fas fa-calendar-alt"></i>
                                          <a href="/blog/solana/how-to-create-token-swap-program-using-solana">March 31, 2022</a>
                                        </span>
                                      </p>
                                    </div>
                                 </div>
                                 <div class="post-col">
                                    <div class="post-col-img">
                                      <a href="singleblog.html">
                                        <img src="{% static 'assets/images/blog-3.jpg' %}" class="img-responsive" alt="Image">
                                      </a>
                                    </div>
                                    <div class="post-col-content">
                                      <a href="/blog/solana/how-to-create-token-swap-program-using-solana">
                                        <p class="latest-title">8 ways to keep your heart forever young</p>
                                      </a>
                                      <p class="latest-date">
                                        <span>
                                          <i class="fas fa-calendar-alt"></i>
                                          <a href="/blog/solana/how-to-create-token-swap-program-using-solana">March 31, 2022</a>
                                        </span>
                                      </p>
                                    </div>
                                 </div>
                                 <div class="post-col">
                                    <div class="post-col-img">
                                      <a href="singleblog.html">
                                        <img src="{% static 'assets/images/blog-1.jpg' %}" class="img-responsive" alt="Image">
                                      </a>
                                    </div>
                                    <div class="post-col-content">
                                      <a href="/blog/solana/how-to-create-token-swap-program-using-solana">
                                        <p class="latest-title">8 ways to keep your heart forever young</p>
                                      </a>
                                      <p class="latest-date">
                                        <span>
                                          <i class="fas fa-calendar-alt"></i>
                                          <a href="/blog/solana/how-to-create-token-swap-program-using-solana">March 31, 2022</a>
                                        </span>
                                      </p>
                                    </div>
                                 </div>
                                 <div class="post-col">
                                    <div class="post-col-img">
                                      <a href="singleblog.html">
                                        <img src="{% static 'assets/images/blog-2.jpg' %}" class="img-responsive" alt="Image">
                                      </a>
                                    </div>
                                    <div class="post-col-content">
                                      <a href="/blog/solana/how-to-create-token-swap-program-using-solana">
                                        <p class="latest-title">8 ways to keep your heart forever young</p>
                                      </a>
                                      <p class="latest-date">
                                        <span>
                                          <i class="fas fa-calendar-alt"></i>
                                          <a href="/blog/solana/how-to-create-token-swap-program-using-solana">March 31, 2022</a>
                                        </span>
                                      </p>
                                    </div>
                                 </div>
                             </div>
                           </div>
                         </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>

      {% endblock %}
   